.container {
  font-family: "Merriweather", serif;
  width: 60%;
  max-width: 600px;
  border: 2px solid rgb(165, 163, 163);
  padding: 20px;
}
.row {
  margin: 0 auto;
  width: 100%;
}
h1 {
  padding-top: 20px;
  color: #676868;
}
li {
  color: #878a8d;
  list-style: none;
}
img {
  position: relative;
  margin-right: 5px;
  height: 70px;
  width: 70px;
  top: -15px;
}
#styleChange {
  padding-left: 0;
}
#temperature {
  font-size: 70px;
  color: #4b4d4e;
  line-height: 1;
  font-weight: 400;
}
#unit {
  position: relative;
  top: -31px;
}
