.container {
  font-family: "Merriweather", serif;
  width: 60%;
  max-width: 600px;
  border: 5px solid rgb(165, 163, 163);
  border-radius: 10px;
  padding: 20px;
  margin: 15px auto;
}
.row {
  margin: 0 auto;
  width: 100%;
}
h1 {
  padding-top: 20px;
  color: #676868;
}
h2 {
  color: #676868;
  padding: 5px;
}
.sun {
  border-radius: 50%;
  position: absolute;
  top: 20px;
}
li {
  color: #878a8d;
  list-style: none;
}
img {
  position: relative;
  margin-right: 5px;
  height: 70px;
  width: 70px;
  top: -15px;
}
#styleChange {
  padding-left: 0;
}
#temperature {
  font-size: 70px;
  color: #4b4d4e;
  line-height: 1;
  font-weight: 400;
}
#unit {
  position: relative;
  top: -40px;
}
li:first-letter {
  text-transform: capitalize;
}
#celciusClick,
#fahrenheitClick {
  text-decoration: none;
  cursor: default;
}
.col-6 .active {
  color: #676868;
}
.weatherAnime {
  width: 200px;
  height: 170px;
  border: 5px solid rgb(130, 125, 125);
  border-radius: 50%;
  position: absolute;
  top: 200px;
}
p {
  color: #676868;
  font-family: monospace;
  padding: 5px;
  margin-bottom: 0;
  font-size: large;
}
